version: 2.1
orbs:
  docker: circleci/docker@2.1.1
executors:
  machine_executor_amd64:
    machine:
      image: ubuntu-2204:2022.04.2
    environment:
      architecture: "amd64"
      platform: "linux/amd64"

jobs:
  build_and_test:
    executor:
      name: docker/docker
    working_directory: /home/circleci/flexo-mms-store-service
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Build docker image
          command: |
            cp src/main/resources/application.conf.example ./src/main/resources/application.conf
            docker build -t openmbee/flexo-mms-store-service:latest .
      - run:
          name: Export docker image
          command: |
            docker save -o flexo-mms-store-service.tar openmbee/flexo-mms-store-service:latest
      - persist_to_workspace:
          root: /home/circleci/
          paths:
            - flexo-mms-store-service/*

  deploy_snapshot:
    executor:
      name: docker/docker
    working_directory: /home/circleci/flexo-mms-store-service
    steps:
      - setup_remote_docker:
          docker_layer_caching: true
      - attach_workspace:
          at: ~/
      - run:
          name: Login to Dockerhub
          command: echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
      - run:
          name: Load docker image
          command: docker load -i flexo-mms-store-service.tar
      - run:
          name: Tag docker image
          command: docker tag openmbee/flexo-mms-store-service:latest openmbee/flexo-mms-store-service:${CIRCLE_BRANCH#*/}-SNAPSHOT
      - run:
          name: Deploy snapshot to Dockerhub
          command: docker push openmbee/flexo-mms-store-service:${CIRCLE_BRANCH#*/}-SNAPSHOT
  deploy_release:
    executor:
      name: docker/docker
    working_directory: /home/circleci/flexo-mms-store-service
    steps:
      - setup_remote_docker:
          docker_layer_caching: true
      - attach_workspace:
          at: ~/
      - run:
          name: Login to Dockerhub
          command: echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
      - run:
          name: Load docker image
          command: docker load -i flexo-mms-store-service.tar
      - run:
          name: Tag docker image
          command: docker tag openmbee/flexo-mms-store-service:latest openmbee/flexo-mms-store-service:${CIRCLE_TAG}
      - run:
          name: Deploy release to dockerhub
          command: docker push openmbee/flexo-mms-store-service:${CIRCLE_TAG}
      - run:
          name: Deploy release as latest to dockerhub
          command: docker push openmbee/flexo-mms-store-service:latest

workflows:
  version: 2
  build-test-deploy:
    jobs:
      - build_and_test:
          filters:
            tags:
              only: /v[0-9.]+(-[\w-]+(\.[0-9]+)?)?/
          context:
            - DockerHub
      - deploy_snapshot:
          requires:
            - build_and_test
          filters:
            branches:
              only: /((release|hotfix|support)/[0-9.]+(-[\w-]+(\.[0-9]+)?)?|develop)/
          context:
            - DockerHub
      - deploy_release:
          requires:
            - build_and_test
          filters:
            tags:
              only: /v[0-9.]+(-[\w-]+(\.[0-9]+)?)?/
            branches:
              ignore: /.*/
          context:
            - DockerHub